@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

/* ____________________________________________________________ html, body, heading, section, */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

hr,
h1,
h3,
h4 {
    margin: 0;
}

h2 {
    margin-top: 60px;
}

.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.section-top {
    background-color: #000;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 120px;
}

.inline-block {
    display: inline-block;
}

/* ____________________________________________________________ Navigation Bar */

.navbar {
    margin-bottom: 0px;
    background: #000000;
    z-index: 999999;
    top: 0px !important;
    min-height: 60px;
    box-shadow: 0px 4px 30px 1px rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    padding-top: 20px;
    padding-left: 25px;
}

.nav>li {
    position: relative;
    display: block;
    padding-right: 20px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 25px;
    width: 80px;
    height: 50px;
    text-align: center;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 8px;
    margin-top: 12px;
    margin-right: 30px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff0;
    border-radius: 4px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* ____________________________________________________________ top slider */

/* added from https://www.w3schools.com/bootstrap/bootstrap_ref_js_carousel.asp - carousel with javasctipt - bootstrap */

.carousel-indicators {
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators.active {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    height: auto;
    margin: auto;
}

/* ____________________________________________________________ news */

.news-section {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ____________________________________________________________ member card */

.member-card-main {
    width: 80%;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #fafafa;
    color: #000000;
}

.mebmer-card-main p {
    margin: 0px;
    padding: 0px;
}

/* ____________________________________________________________ about us */

.aboutus-section {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn {
    color: #000000;
    background-color: #ffffff;
}

.btn:hover {
    color: #ffffff;
    background-color: #5bc0dd;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* ____________________________________________________________ offer */

.offer-section {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ____________________________________________________________ media */

.media-section {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.media-section h3,
p {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.youtubue-video {
    width: 500px;
    height: 400px;
}

.song-title {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: -10px;
}

audio {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ____________________________________________________________ contact */

.contact-section {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 4px;
    background-color: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn:hover {
    background-color: #5bc0dd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-info {
    color: #000;
    background-color: #ffffff;
    border-radius: 4px;
    border: 0;
}

/* ____________________________________________________________ footer */

footer {
    padding-top: 60px;
    background-color: #000000;
}


.footer-actual {
    min-height: 150px;
    color: #ffffff;
    margin: 0;
}

.newsletter-email {
    width: 50%;
    border-color: #ffffff;
    margin-top: 5px;
}

.newsletter-btn {
    width: 20%;
    color: #000000;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.newsletter-btn:hover {
    width: 20%;
    color: #ffffff;
    margin-left: 25px;
    background-color: #5bc0dd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-header {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 30px;
}

.social-header-space {
    font-weight: 300;
    font-size: 15px;
    margin-top: 18px;
}


.social-icon {
    padding-bottom: 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon li a i {
    width: 40px;
    height: 40px;
    padding: 18px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 6px;
    text-align: center;
    color: #ffffff;
    background: #5bc0dd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon li a i:hover {
    color: #5bc0dd;
    background: #ffffff;
}

.footer2 {
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

.footer2 h5 {
    margin-top: 15px;
}


/* ____________________________________________________________ GoUp button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 110px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    line-height: 2;
    font-size: 14px;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    border: 1px solid #ffffff;
}

#myBtn:hover {
    color: #5bc0dd;
}


/* ____________________________________________________________ media queries */

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
        padding-right: 15px;
    }
}
