@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/* ____________________________________________________________ html, body, heading */

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

section {
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

/* ____________________________________________________________ background colors */

/* ____________________________________________________________ Navigation Bar */

.navbar {
    min-height: 70px;
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 25px;
}

.nav>li {
    position: relative;
    display: block;
    padding-right: 20px;
}


.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 80px;
    text-align: center;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}



/* ____________________________________________________________ news */

/* ____________________________________________________________ about us */

/* ____________________________________________________________ offer */

/* ____________________________________________________________ media */

/* ____________________________________________________________ contact */

.btn-info {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #5bc0de;
    border-radius: 5px;
}

.btn-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    border-radius: 5px;
}

/* ____________________________________________________________ footer */

/* ____________________________________________________________ media queries */

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
        padding-right: 15px;
    }
}
