@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/* ____________________________________________________________ html, body, heading */

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

.section-padding {
    padding: 70px;
}

/* ____________________________________________________________ background colors */

/* ____________________________________________________________ Navigation Bar */

.navbar {
    background: #000000;
    z-index: 999999;
    top: 0px !important;
    min-height: 70px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 25px;
}

.nav>li {
    position: relative;
    display: block;
    padding-right: 20px;
}


.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 80px;
    text-align: center;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}



/* ____________________________________________________________ news */

/* ____________________________________________________________ about us */

.about-main-text {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px
}


.member-card {
    margin-top: 20px;
    margin-right: 25px;
    border: 1px solid #eee;
    border-radius: 25px;
    text-align: center
}

.member-card img {
    padding-top: 20px;
}


.member-card p {
    padding: 20px;
}


/* ____________________________________________________________ offer */

/* ____________________________________________________________ media */

/* ____________________________________________________________ contact */

.btn-info {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #5bc0de;
    border-radius: 5px;
}

.btn-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    border-radius: 5px;
}



/* ____________________________________________________________ google maps style */

.mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ____________________________________________________________ footer */

footer {
    background-color: #5bc0de;
}


/* ____________________________________________________________ media queries */

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
        padding-right: 15px;
    }
}

